<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fbcnet.audisearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>15CFE991-099C-4FD9-BA65-B0204E54BE4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C647D13-753B-40BA-8AEA-A3F50487D68E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AA89C08-AFBF-4C6E-8346-C4111E8339C6</key>
		<array/>
		<key>3CD8BD08-A8F3-4239-9C09-91E23EE79D40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93569600-DFA7-49FD-8408-83949A9EBE63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FD14B0E-6426-492B-AEA1-176302B6CF32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AA89C08-AFBF-4C6E-8346-C4111E8339C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58BFF3F4-EBF5-423D-8060-2F34DF30A9D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F0EE79F-1BE6-4570-ABA5-F3B7870A3D66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C647D13-753B-40BA-8AEA-A3F50487D68E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48E729B7-D598-4D8D-8DDF-3DB49BA2CAE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F0EE79F-1BE6-4570-ABA5-F3B7870A3D66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93569600-DFA7-49FD-8408-83949A9EBE63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77C2EE7D-82B7-44AC-99D6-3C7B5ECF1F95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FD14B0E-6426-492B-AEA1-176302B6CF32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93569600-DFA7-49FD-8408-83949A9EBE63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77C2EE7D-82B7-44AC-99D6-3C7B5ECF1F95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15CFE991-099C-4FD9-BA65-B0204E54BE4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Scott Newman</string>
	<key>description</key>
	<string>Beautiful inline catalog browsing for Alfred 3+.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Audible Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.audible.com/pd/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2AA89C08-AFBF-4C6E-8346-C4111E8339C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>aud</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python audiSearch.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Audible</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>58BFF3F4-EBF5-423D-8060-2F34DF30A9D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>asin:</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4FD14B0E-6426-492B-AEA1-176302B6CF32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^asin:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>77C2EE7D-82B7-44AC-99D6-3C7B5ECF1F95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>activeQuery</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6F0EE79F-1BE6-4570-ABA5-F3B7870A3D66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python audiSearch.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Audible</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93569600-DFA7-49FD-8408-83949A9EBE63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>audisearch</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>48E729B7-D598-4D8D-8DDF-3DB49BA2CAE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!asin).*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>15CFE991-099C-4FD9-BA65-B0204E54BE4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>activeQuery</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5C647D13-753B-40BA-8AEA-A3F50487D68E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>audisearch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>3CD8BD08-A8F3-4239-9C09-91E23EE79D40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Beautiful inline catalog browsing for Alfred 3.

== Open source components ==

Alfred-Workflow | http://www.deanishe.net/alfred-workflow/
lxml - XML and HTML with Python | http://www.lxml.de/</string>
	<key>uidata</key>
	<dict>
		<key>15CFE991-099C-4FD9-BA65-B0204E54BE4F</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>2AA89C08-AFBF-4C6E-8346-C4111E8339C6</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3CD8BD08-A8F3-4239-9C09-91E23EE79D40</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>48E729B7-D598-4D8D-8DDF-3DB49BA2CAE4</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>4FD14B0E-6426-492B-AEA1-176302B6CF32</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>58BFF3F4-EBF5-423D-8060-2F34DF30A9D2</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>5C647D13-753B-40BA-8AEA-A3F50487D68E</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6F0EE79F-1BE6-4570-ABA5-F3B7870A3D66</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>77C2EE7D-82B7-44AC-99D6-3C7B5ECF1F95</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>93569600-DFA7-49FD-8408-83949A9EBE63</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.0.2</string>
	<key>webaddress</key>
	<string>https://www.audible.com/</string>
</dict>
</plist>
